.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slider-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  gap: 20px;
}

.slider-content-wrapper {
  overflow: hidden;
  width: 229px;
  height: 100%;
}

.slider-content {
  display: flex;
  transition: all 250ms linear;
}

.slider-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

@media all and (min-width: 744px) and (max-width: 1279px) {
  .slider-content-wrapper {
    width: 450px;
  }
  .slider-wrapper {
    justify-content: space-between;
  }
}

@media all and (min-width: 1280px) {
  .slider-content-wrapper {
    width: 620px;
  }
  .slider-wrapper {
    justify-content: space-between;
  }
}
