.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-modal-background);
  display: flex;
}

.modal-wrapper--alignY-center {
  align-items: center;
}

.modal-wrapper--alignX-center {
  justify-content: center;
}

.modal-wrapper--alignY-top {
  align-items: flex-start;
}

.modal-wrapper-animation-enter {
  transform: scale(0);
}

.modal-wrapper-animation-enter-active {
  transform: scale(1);
  transition: transform 300ms linear;
}

.modal-wrapper-animation-exit {
  transition: transform 300ms linear;
  transform-origin: center center;
  transform: scale(1);
}

.modal-wrapper-animation-exit-active {
  transform: scale(0);
}

@media all and (min-width: 1280px) {
  .modal-wrapper {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .modal-wrapper--alignY-top {
    align-items: center;
  }
}
